---
title: The Effect Free Blog
---

<h1>Welcome</h1>

<p>Welcome to my blog!</p>

<p>I've reproduced a list of recent posts here for your reading pleasure:</p>

<h2>Posts</h2>
$partial("templates/post-list.html")$

<p>…or you can find more in the <a href="/blog">Blog Section</a>.</p>

<h2>Contact</h2>

<p>
  Feel free to send me an email
  <a href="mailto:bebopbamf@effectfree.dev">here</a>.
</p>
