---
title: Algebraic Isomorphism Testing Honours Project
---

<h1>Algebraic Isomorphism Testing Literature Review</h1>

<p>
  This was part of an assignment where I investigated some of the current
  literature in isomorphism testing.
</p>

<object
  data="/static/files/EuanMendoza-isomorphism-testing-literature-review.pdf"
  type="application/pdf"
  width="100%"
  height="500px"
>
  <p>
    Unable to display PDF file.
    <a
      href="/static/files/EuanMendoza-isomorphism-testing-literature-review.pdf"
      >Download</a
    >
    instead.
  </p>
</object>

<h1>Algebraic Isomorphism Testing Project Proposal</h1>

<p>Here is my project proposal document.</p>

<object
  data="/static/files/EuanMendoza-isomorphism-testing-project-proposal.pdf"
  type="application/pdf"
  width="100%"
  height="500px"
>
  <p>
    Unable to display PDF file.
    <a href="/static/files/EuanMendoza-isomorphism-testing-project-proposal.pdf"
      >Download</a
    >
    instead.
  </p>
</object>
