---
title: The Theory of Computer Science
---

<h1>Myhill-Nerode Theorem Note</h1>

<p>
  This describes how to use myhill-nerodes theorem to prove that languages are
  not regular.
</p>

<object
  data="/static/files/myhill-nerode-theorem.pdf"
  type="application/pdf"
  width="100%"
  height="500px"
>
  <p>
    Unable to display PDF file.
    <a href="/static/files/myhill-nerode-theorem.pdf">Download</a>
    instead.
  </p>
</object>

<h1>Intractable and NP-complete Problems</h1>

<p>
  This is some papers and notes I wrote for my theory of computer science class
  to teach them about computational complexity, computability and intractable
  problems.
</p>

<object
  data="/static/files/intractable-and-np-complete-problems.pdf"
  type="application/pdf"
  width="100%"
  height="500px"
>
  <p>
    Unable to display PDF file.
    <a href="/static/files/intractable-and-np-complete-problems.pdf"
      >Download</a
    >
    instead.
  </p>
</object>
