@font-face {
  font-family: 'Space Grotesk';
  font-display: swap;
  font-weight: 200;
  font-style: normal;
  src: url('/src/static/fonts/SpaceGrotesk/SpaceGrotesk-Light.woff2'),
    format('woff2');
}

@font-face {
  font-family: 'Space Grotesk';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('/src/static/fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff2'),
    format('woff2');
}

@font-face {
  font-family: 'Space Grotesk';
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: url('/src/static/fonts/SpaceGrotesk/SpaceGrotesk-Medium.woff2'),
    format('woff2');
}

@font-face {
  font-family: 'Space Grotesk';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url('/src/static/fonts/SpaceGrotesk/SpaceGrotesk-Bold.woff2'),
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Web';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('/src/static/fonts/IosevkaPlex/IosevkaPlex-Regular.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Web';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url('/src/static/fonts/IosevkaPlex/IosevkaPlex-Italic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Web';
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src: url('/src/static/fonts/IosevkaPlex/IosevkaPlex-SemiBold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Web';
  font-display: swap;
  font-weight: 600;
  font-style: italic;
  src: url('/src/static/fonts/IosevkaPlex/IosevkaPlex-SemiBoldItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Web';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url('/src/static/fonts/IosevkaPlex/IosevkaPlex-Bold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Web';
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url('/src/static/fonts/IosevkaPlex/IosevkaPlex-BoldItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Aile Web';
  font-display: swap;
  font-weight: 100;
  font-style: normal;
  src: url('/src/static/fonts/IosevkaPlexAile/IosevkaPlexAile-Thin.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Aile Web';
  font-display: swap;
  font-weight: 100;
  font-style: italic;
  src: url('/src/static/fonts/IosevkaPlexAile/IosevkaPlexAile-ThinItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Aile Web';
  font-display: swap;
  font-weight: 200;
  font-style: normal;
  src: url('/src/static/fonts/IosevkaPlexAile/IosevkaPlexAile-ExtraLight.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Aile Web';
  font-display: swap;
  font-weight: 200;
  font-style: italic;
  src: url('/src/static/fonts/IosevkaPlexAile/IosevkaPlexAile-ExtraLightItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Aile Web';
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  src: url('/src/static/fonts/IosevkaPlexAile/IosevkaPlexAile-Light.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Aile Web';
  font-display: swap;
  font-weight: 300;
  font-style: italic;
  src: url('/src/static/fonts/IosevkaPlexAile/IosevkaPlexAile-LightItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Aile Web';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('/src/static/fonts/IosevkaPlexAile/IosevkaPlexAile-Regular.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Aile Web';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url('/src/static/fonts/IosevkaPlexAile/IosevkaPlexAile-Italic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Aile Web';
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: url('/src/static/fonts/IosevkaPlexAile/IosevkaPlexAile-Medium.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Aile Web';
  font-display: swap;
  font-weight: 500;
  font-style: italic;
  src: url('/src/static/fonts/IosevkaPlexAile/IosevkaPlexAile-MediumItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Aile Web';
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src: url('/src/static/fonts/IosevkaPlexAile/IosevkaPlexAile-SemiBold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Aile Web';
  font-display: swap;
  font-weight: 600;
  font-style: italic;
  src: url('/src/static/fonts/IosevkaPlexAile/IosevkaPlexAile-SemiBoldItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Aile Web';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url('/src/static/fonts/IosevkaPlexAile/IosevkaPlexAile-Bold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Aile Web';
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url('/src/static/fonts/IosevkaPlexAile/IosevkaPlexAile-BoldItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Aile Web';
  font-display: swap;
  font-weight: 800;
  font-style: normal;
  src: url('/src/static/fonts/IosevkaPlexAile/IosevkaPlexAile-ExtraBold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Aile Web';
  font-display: swap;
  font-weight: 800;
  font-style: italic;
  src: url('/src/static/fonts/IosevkaPlexAile/IosevkaPlexAile-ExtraBoldItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Etoile Web';
  font-display: swap;
  font-weight: 100;
  font-style: normal;
  src: url('/src/static/fonts/IosevkaPlexEtoile/IosevkaPlexEtoile-Thin.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Etoile Web';
  font-display: swap;
  font-weight: 100;
  font-style: italic;
  src: url('/src/static/fonts/IosevkaPlexEtoile/IosevkaPlexEtoile-ThinItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Etoile Web';
  font-display: swap;
  font-weight: 200;
  font-style: normal;
  src: url('/src/static/fonts/IosevkaPlexEtoile/IosevkaPlexEtoile-ExtraLight.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Etoile Web';
  font-display: swap;
  font-weight: 200;
  font-style: italic;
  src: url('/src/static/fonts/IosevkaPlexEtoile/IosevkaPlexEtoile-ExtraLightItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Etoile Web';
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  src: url('/src/static/fonts/IosevkaPlexEtoile/IosevkaPlexEtoile-Light.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Etoile Web';
  font-display: swap;
  font-weight: 300;
  font-style: italic;
  src: url('/src/static/fonts/IosevkaPlexEtoile/IosevkaPlexEtoile-LightItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Etoile Web';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('/src/static/fonts/IosevkaPlexEtoile/IosevkaPlexEtoile-Regular.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Etoile Web';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url('/src/static/fonts/IosevkaPlexEtoile/IosevkaPlexEtoile-Italic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Etoile Web';
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: url('/src/static/fonts/IosevkaPlexEtoile/IosevkaPlexEtoile-Medium.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Etoile Web';
  font-display: swap;
  font-weight: 500;
  font-style: italic;
  src: url('/src/static/fonts/IosevkaPlexEtoile/IosevkaPlexEtoile-MediumItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Etoile Web';
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src: url('/src/static/fonts/IosevkaPlexEtoile/IosevkaPlexEtoile-SemiBold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Etoile Web';
  font-display: swap;
  font-weight: 600;
  font-style: italic;
  src: url('/src/static/fonts/IosevkaPlexEtoile/IosevkaPlexEtoile-SemiBoldItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Etoile Web';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url('/src/static/fonts/IosevkaPlexEtoile/IosevkaPlexEtoile-Bold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Etoile Web';
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url('/src/static/fonts/IosevkaPlexEtoile/IosevkaPlexEtoile-BoldItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Etoile Web';
  font-display: swap;
  font-weight: 800;
  font-style: normal;
  src: url('/src/static/fonts/IosevkaPlexEtoile/IosevkaPlexEtoile-ExtraBold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Iosevka Plex Etoile Web';
  font-display: swap;
  font-weight: 800;
  font-style: italic;
  src: url('/src/static/fonts/IosevkaPlexEtoile/IosevkaPlexEtoile-ExtraBoldItalic.woff2')
    format('woff2');
}
