@import 'parts/code.scss';
@import 'parts/header.scss';
@import 'parts/footer.scss';
@import 'parts/image.scss';
@import 'parts/misc.scss';
@import 'parts/table.scss';
@import 'parts/tags.scss';
@import 'parts/cards.scss';

:root {
  /* Used for: block comment, hr, ... */
  --border-color: var(--bg-1);

  /* Fonts */
  --text-font: 'Iosevka Plex Etoile Web';
  --header-font: 'Space Grotesk';
  --code-font: 'Jetbrains Mono';
}

html {
  background-color: var(--bg-0);
  color: var(--text-0);
  font-family: var(--text-font);
  line-height: 1.6em;
}

.nav-link {
  margin-left: 0.2em;
}

.content {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  word-wrap: break-word;
}

@media all and (min-width: 576px) {
  html {
    font-size: 16.5px;
  }
}

@media all and (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

@media all and (min-width: 992px) {
  html {
    font-size: 18px;
  }

  .content {
    max-width: 992px;
  }
}
