<div class="list">
  <div class="page-header">
    $page-title$<span class="primary-color" style="font-size: 1.6rem">.</span>
  </div>
  <div class="cards">
    $for(items)$
    <div class="card">
      <div class="card-info">
        <h1 class="card-title">
          <a href="$link$">$title$</a>
        </h1>

        <div class="card-description">$body$</div>
      </div>
    </div>
    $endfor$
  </div>
</div>
