<article>
  <div class="title">
    <div class="page-header">
      $title$<span class="primary-color" style="font-size: 1.6rem">.</span>
    </div>

    <div class="meta">
      $if(date)$ Posted on <time>$date$</time>$endif$ $if(author)$ by $author$
      $endif$
    </div>
  </div>

  <section class="body">$body$</section>
</article>
