<ul>
  $for(posts)$
  <section class="list-item">
    <h1 class="title">
      <a href="$url$">$title$</a>
    </h1>

    <time>$date$</time>
    <div class="post-header">
      <div>
        <div class="meta">
          <div class="preview">
            $if(preview)$ $preview$ $else$ This is an article. $endif$
          </div>
          <a class="readmore" href="$url$">Read more --></a>
        </div>
      </div>
    </div>
  </section>
  $endfor$
</ul>
