.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 24px;
  padding: 12px 0;
}

.card {
  min-height: 100px;
  background: var(--bg-2);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
}

.card-info {
  padding: 0 24px 24px 24px;
}

.card-title {
  margin-top: 0.7em;
}

.card-image {
  border: unset;
  width: 100%;
}

.card-image-placeholder {
  height: 12px;
  width: 100%;
}

.card-description {
  margin-top: 0.5em;
  overflow: hidden;
}

@media all and (max-width: 720px) {
  .cards {
    gap: 18px;
  }
}
